.Fill {
	height: 100%;
	display: flex;
}

.flex-grow-2 {
	width: 70%;
}

.scroll-container {
	overflow-y: scroll;
	max-height: 100%;
}

.scroll-container-auto {
	overflow-y: auto;
	max-height: 100%;
}

.no-overflow {
	overflow-y: hidden;
}
