.Fill {
	height: 100%;
	display: flex;
}

.scroll-container {
	overflow-y: scroll;
	max-height: 100%;
}

.scroll-container-auto {
	overflow-y: auto;
	max-height: 100%;
}

.no-overflow {
	overflow-y: hidden;
}

/* div.card-body pre {
	margin-bottom: 0px;
} */

.btn:focus,
.btn:active,
.btn-primary.focus {
	outline: none !important;
	box-shadow: none !important;
}
